/* BODY */
body {
  font-family: 'Open Sans', sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.btn-blue {
  background-color: #0061ff;
  color: white;
}
.img {
  width: 100%;
  display: block;
}

/* MAIN */

/* HEADER */
header {
  width: 100%;
  height: 80px;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

.navigation-area {
  display: flex;
  justify-content: space-between;
}
/* header link box sinistro */
.product-info-link {
  display: flex;
  justify-content: space-between;
}

.product-info-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.product-info-link ul a {
  text-decoration: none;
  margin-right: 40px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
}

/* header link box destro */
.product-support-link {
  display: flex;
  justify-content: space-between;
}

.product-support-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.product-support-link ul a {
  text-decoration: none;
  margin-left: 40px;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
}

/* CTA "Inizia" */
/* cambio colore (fix specificità) */
.product-support-link ul li:last-of-type {
  color: white;
}
.inizia {
  padding: 5px 18px;
}

/* MAIN */

.container-wide {
  width: 80%;
  margin: auto;
}

.container-narrow {
  width: 65%;
  margin: auto;
}

/* sezione jumbotron */
.jumbotron {
  background-color: #b4d0e7;
  margin-top: 80px;
  padding-top: 80px;
}

/* contenitore due colonne */
.j-two-columns {
  display: flex;
  justify-content: space-between;
}
/* colonna sinistra jumbotron */
.j-text-left {
  width: 40%;
  padding-top: 60px;
  padding-right: 80px;
}

.j-text-left p {
  padding-bottom: 25px;
}

h1 {
  font-size: 67px;
}

.prova-gratuita {
  padding: 5px 18px;
}
.prova-gratuita a {
  text-decoration: none;
  color: white;
}
.any-time {
  padding-top: 15px;
}
.arrow-down a {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
/* colonna destra jumbotron */
.j-img-right {
  width: 60%;
}
.j-img-right img {
  width: 100%;
  position: relative;
  top: 16%;
}

/* sezione piani */

/* titolo sezione */
.piani h2 {
  padding-top: 160px;
  font-size: 36px;
  padding-bottom: 50px;
}
/* piccolo box fatturazione */
.fatturazione {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan {
  width: 49%;
}

/* finto checkbox */
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  border: 1px solid black;
}
.filled {
  border: 4px solid #0061ff;
}
/* box 3 colonne */
.plan-3-columns {
  width: 100%;
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plan-col {
  width: calc((100% / 3) - 35px);
  border: 1px solid #e6e6e7;
  font-size: 13px;
}
.col-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e7;
}
.icon {
  margin-right: 5px;
}
.icon i {
  color: black;
}
.col-text {
  margin: 40px 30px 130px;
}
.tipo-abbonamento {
  font-size: 18px;
}
.prezzo-abbonamento {
  font-weight: bold;
  padding: 10px 0;
  font-size: 16px;
}
.cadenza {
  font-style: italic;
  color: #778591;
  padding-bottom: 20px;
}

/* lista deafure in alto */
.feature-abbonamento {
  padding-bottom: 30px;
}
.feature-abbonamento ul {
  list-style-type: none;
}
.feature-abbonamento ul li {
  padding: 5px 0;
}

/* bottone 30 giorni */
.trenta-giorni {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}

.acquista {
  padding: 30px 0;
}

hr {
  width: 50px;
  margin-bottom: 40px;
}
hr + h5 {
  font-size: 14px;
  margin-bottom: 30px;
}

/* check blue */
.fa-ul {
  margin-left: 25px;
}
i {
  color: #0061ff;
}

/* box enterprise */
.enterprise-box {
  margin: 50px 0 150px;
  border: 1px solid #e6e6e7;
}
.enterprise-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e7;
}
.enterprise-col {
  margin: 40px 30px 50px;
}
.enterprise-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enterprise-text h4 {
  display: inline-block;
  font-size: 24px;
}
.contatta {
  text-align: center;
  padding: 10px 30px;
  font-weight: bold;
}
.enterprise-bold {
  font-weight: bold;
  margin: 15px 0 20px;
}
.enterprise-col p:last-of-type {
  font-size: 12px;
}

/* sezione trova partner */
.partner-box {
  margin-top: 100px;
}
.partner-box {
  display: flex;
}
.partner-img {
  width: 50%;
}
.partner-text {
  width: 50%;
  padding-top: 30px;
  padding-left: 50px;
}
.partner-text h4 {
  font-size: 24px;
}
.partner-text p {
  margin: 30px 0;
}
.light-btn {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 20px;
}
