/* BODY */
body {
  font-family: 'Open Sans', sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.btn-blue {
  background-color: #0061ff;
  color: white;
}
.img {
  width: 100%;
  display: block;
}

/* MAIN */

/* HEADER */
header {
  width: 100%;
  height: 80px;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navigation-area {
  display: flex;
  justify-content: space-between;
}
/* header link box sinistro */
.product-info-link {
  display: flex;
  justify-content: space-between;
}

.product-info-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.product-info-link ul a {
  text-decoration: none;
  margin-right: 40px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
}

/* header link box destro */
.product-support-link {
  display: flex;
  justify-content: space-between;
}

.product-support-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.product-support-link ul a {
  text-decoration: none;
  margin-left: 40px;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
}

/* CTA "Inizia" */
/* cambio colore (fix specificità) */
.product-support-link ul li:last-of-type {
  color: white;
}
.inizia {
  padding: 5px 18px;
}

/* MAIN */

.container-wide {
  width: 80%;
  margin: auto;
}

.container-narrow {
  width: 60%;
  margin: auto;
}

/* sezione jumbotron */
.jumbotron {
  background-color: #b4d0e7;
  margin-top: 80px;
  padding-top: 80px;
}

/* contenitore due colonne */
.j-two-columns {
  display: flex;
  justify-content: space-between;
}
/* colonna sinistra jumbotron */
.j-text-left {
  width: 40%;
  padding-top: 60px;
  padding-right: 80px;
}

.j-text-left p {
  padding-bottom: 25px;
}

h1 {
  font-size: 67px;
}

.prova-gratuita {
  padding: 5px 18px;
}
.prova-gratuita a {
  text-decoration: none;
  color: white;
}
.any-time {
  padding-top: 15px;
}
.arrow-down a {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
/* colonna destra jumbotron */
.j-img-right {
  width: 60%;
}
.j-img-right img {
  width: 100%;
  position: relative;
  top: 16%;
}
