/* BODY */
body {
  font-family: 'Open Sans', sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.btn-blue {
  background-color: #0061ff;
  color: white;
}
.img {
  width: 100%;
  display: block;
}

/* MAIN */

/* HEADER */
header {
  width: 100%;
  height: 80px;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
}

.navigation-area {
  display: flex;
  justify-content: space-between;
}
/* header link box sinistro */
.product-info-link {
  display: flex;
  justify-content: space-between;
}

.product-info-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.product-info-link ul a {
  text-decoration: none;
  margin-right: 40px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
}

/* header link box destro */
.product-support-link {
  display: flex;
  justify-content: space-between;
}

.product-support-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.product-support-link ul a {
  text-decoration: none;
  margin-left: 40px;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
}

/* CTA "Inizia" */
/* cambio colore (fix specificità) */
.product-support-link ul li:last-of-type {
  color: white;
}
.inizia {
  padding: 5px 18px;
}

/* MAIN */

.container-wide {
  width: 80%;
  margin: auto;
}

.container-narrow {
  width: 65%;
  margin: auto;
}

/* sezione jumbotron */
.jumbotron {
  background-color: #b4d0e7;
  margin-top: 80px;
  padding-top: 80px;
}

/* contenitore due colonne jumbotron */
.j-two-columns {
  display: flex;
  justify-content: space-between;
}
/* colonna sinistra jumbotron */
.j-text-left {
  width: 40%;
  padding-top: 60px;
  padding-right: 80px;
}

.j-text-left p {
  padding-bottom: 25px;
}

h1 {
  font-size: 67px;
}

.prova-gratuita {
  padding: 5px 18px;
}
.prova-gratuita a {
  text-decoration: none;
  color: white;
}
.any-time {
  padding-top: 15px;
}
.arrow-down a {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
/* colonna destra jumbotron */
.j-img-right {
  width: 60%;
}
.j-img-right img {
  width: 100%;
  position: relative;
  top: 16%;
}

/* sezione piani */

/* titolo sezione */
.piani h2 {
  padding-top: 160px;
  font-size: 36px;
  padding-bottom: 50px;
}
/* piccolo box fatturazione */
.fatturazione {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan {
  width: 49%;
}

/* finto checkbox */
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  border: 1px solid black;
}
.filled {
  border: 4px solid #0061ff;
}
/* box 3 colonne */
.plan-3-columns {
  width: 100%;
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plan-col {
  width: calc((100% / 3) - 35px);
  border: 1px solid #e6e6e7;
  font-size: 13px;
}
.col-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e7;
}
.icon {
  margin-right: 5px;
}
.icon i {
  color: black;
}
.col-text {
  margin: 40px 30px 130px;
}
.tipo-abbonamento {
  font-size: 18px;
}
.prezzo-abbonamento {
  font-weight: bold;
  padding: 10px 0;
  font-size: 16px;
}
.cadenza {
  font-style: italic;
  color: #778591;
  padding-bottom: 20px;
}

/* lista feature in alto */
.feature-abbonamento {
  padding-bottom: 30px;
}
.feature-abbonamento ul {
  list-style-type: none;
}
.feature-abbonamento ul li {
  padding: 7px 0;
}
.feature-abbonamento i {
  font-size: 12px;
}

/* bottone 30 giorni */
.trenta-giorni {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.btn-blue a {
  text-decoration: none;
  color: inherit;
}

.acquista {
  padding: 30px 0;
}

hr {
  width: 50px;
  margin-bottom: 40px;
  color: #e6e6e7;
  border-style: solid;
}
hr + h5 {
  font-size: 14px;
  margin-bottom: 30px;
}

/* check blue */
.fa-ul {
  margin-left: 25px;
}
.fa-ul li {
  padding: 10px 0;
}
i {
  color: #0061ff;
}

/* box enterprise */
.enterprise-box {
  margin: 50px 0 150px;
  border: 1px solid #e6e6e7;
}
.enterprise-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e7;
}
.enterprise-col {
  margin: 40px 30px 50px;
}
.enterprise-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enterprise-text h4 {
  display: inline-block;
  font-size: 24px;
}
.contatta {
  text-align: center;
  padding: 10px 30px;
  font-weight: bold;
}
.contatta a {
  text-decoration: none;
  color: inherit;
}
.enterprise-bold {
  font-weight: bold;
  margin: 15px 0 20px;
}
.enterprise-col p:last-of-type {
  font-size: 12px;
}

/* sezione trova partner */
.partner-box {
  margin-top: 100px;
}
.partner-box {
  display: flex;
}
.partner-img {
  width: 50%;
}
.partner-text {
  width: 50%;
  padding-top: 30px;
  padding-left: 50px;
}
.partner-text h4 {
  font-size: 24px;
}
.partner-text p {
  margin: 30px 0;
}
.light-btn {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 20px;
}
.light-btn a {
  text-decoration: none;
  color: inherit;
}

/* sezione strumenti */
.strumenti {
  padding-top: 100px;
}
.strumenti h2 {
  font-size: 36px;
  padding-bottom: 40px;
}
.strumenti-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.strumenti-col {
  width: calc((100% / 3) - 35px);
  padding-bottom: 110px;
}
.strumenti-col img {
  width: 100%;
}
.strumenti-col a {
  color: black;
}
.strumenti-col h3 {
  font-size: 22px;
  padding-bottom: 20px;
}
.strumenti-col p {
  font-size: 14px;
}

/* sezione adopters */
.adopters {
  padding-top: 100px;
}
.adopters h2 {
  font-size: 36px;
  padding-bottom: 20px;
}

/* sezione partner */
.partner-box {
  display: flex;
}
/* colonna sinistra */
.partner-left-col {
  width: 400px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
.square {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square img {
  width: 50%;
  filter: invert(1);
}
/* colori di sfondo */
.bg-light-green {
  background-color: #a2d39b;
}
.bg-ocra {
  background-color: #61082b;
}
.bg-azure {
  background-color: #0093ce;
}
.bg-red {
  background-color: #ff1c1c;
}

/* colonna centrale */
.partner-mid-col {
  background-color: #f5f5f5;
  padding: 50px;
}
.partner-mid-col img {
  height: 40px;
  margin-bottom: 40px;
}
blockquote {
  font-size: 13px;
  padding-bottom: 40px;
}
.q-author {
  font-size: 13px;
}
/* colonna destra */
.partner-right-col {
  width: 400px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}
/* colori di sfondo */
.bg-dark-red {
  background-color: #d5001f;
}
.bg-celeste {
  background-color: #b4d0e7;
}
.bg-blue {
  background-color: #0d2481;
}
.bg-yellow {
  background-color: #ffd830;
}

/* sezione business trial */
.business-trial {
  height: 400px;
  background-color: #b4d0e7;
  display: flex;
  align-items: center;
}
.business-trial-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* testo a sx */
.business-trial-box h2 {
  color: #61082b;
  font-size: 36px;
}

.business-trial-box .light-btn {
  background-color: white;
  width: 300px;
  border: none;
  text-align: center;
  font-weight: bold;
}
.business-trial-box a {
  text-decoration: none;
  color: inherit;
}

/* sezione FAQ */
.faq {
  display: flex;
  align-items: center;
  /* test */
  height: 600px;
}

.faq h2 {
  font-size: 30px;
  padding-bottom: 60px;
}
.faq-question-box {
  padding: 30px 0;
}
.faq-question-row {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e9e9eb;
}
/* bordo inferiore ultimo elemento */
.faq-question-row:nth-last-of-type(1) {
  border-bottom: 1px solid #e9e9eb;
}
.faq-question {
  font-weight: bold;
}
.faq-chevron-down {
  padding-right: 40px;
}
.faq-chevron-down i {
  color: black;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
}
.footer-top {
  height: 300px;
  display: flex;
  align-items: center;
}

.f-menu-box {
  width: 100%;
  display: flex;
}
.f-menu-col {
  width: calc(100% / 5);
}
.f-menu-col h4 {
  font-size: 20px;
  padding-bottom: 20px;
}
.f-menu-col ul {
  list-style-type: none;
}
.f-menu-col li {
  padding-bottom: 10px;
}
.f-menu-col a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

.footer-top + hr {
  color: white;
  width: 100px;
  padding: 0;
  margin: 0;
}

/* footer bottom */
.footer-bottom {
  height: 100px;
  display: flex;
  align-items: center;
}
.language-box {
  display: flex;
  align-items: center;
  color: #636363;
  font-size: 12px;
}
.language-box i {
  color: inherit;
}
.language {
  padding: 0 4px;
}
